---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import ProductLayout from "@roey/site-kit/layouts/ProductLayout.astro";
import { product } from "../product";

const entry = await getEntry("overview", "index");

if (!entry) {
  throw new Error("Missing overview content");
}

const { Content } = await render(entry);
---

<ProductLayout
  productName={product.name}
  gumroadId={product.gumroadId}
  pageDescription={product.metaDescription}
  currentURL={Astro.request.url}
>
  <div class="page-app | padded">
    <div class="stack">
      <div class="center intrinsic text">
        <header class="app__header">
          <h1 class="app__title">{product.name}.</h1>
          <p class="app__tagline">{product.tagline}.</p>
        </header>
      </div>

      <figure class="app__cover-wrapper | center intrinsic">
        <Image
          src={entry.data.coverImage}
          alt={product.name}
          class="app__cover"
        />
      </figure>

      {
        entry.data.reviews && (
          <section class="center intrinsic">
            <header class="sr-only">
              <h2>Reviews</h2>
            </header>
            <div class="app-reviews | reel">
              {entry.data.reviews.map((review) => (
                <div class="app-review">
                  <blockquote>
                    <p class="review__text">{review.text}</p>
                  </blockquote>
                  <footer class="review__cite">
                    —{" "}
                    <a href={review.url}>
                      {review.reviewer}, <cite>{review.platform}</cite>
                    </a>
                  </footer>
                </div>
              ))}
            </div>
          </section>
        )
      }

      <div class="app-content | prose layout">
        <Content />
      </div>

      <div class="app__technicals">
        <small class="app__purchase-policy">{entry.data.purchasePolicy}</small>
      </div>
    </div>
  </div>
</ProductLayout>
