---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import AppLayout from "../../../layouts/AppLayout.astro";

const url = Astro.request.url;
const pathname = new URL(url).pathname.split("/").filter(Boolean).pop() ?? "";
const entry = await getEntry("apps", pathname);
if (!entry) {
  return Astro.redirect("/404");
}

// <small class="app__sys-reqs">{app.data.sysReqs}</small>

const { Content } = await render(entry);
---

<AppLayout entry={entry} pageTitle={undefined} currentURL={url}>
  <div class="page-app | padded">
    <div class="stack">
      <figure class="app__cover-wrapper | center intrinsic">
        <Image
          src={entry.data.coverImage}
          alt={entry.data.name}
          class="app__cover"
        />
      </figure>

      <div class="center intrinsic text">
        <figure class="app__icon-wrapper">
          <Image
            src={entry.data.icon}
            alt={entry.data.name}
            class="app__icon"
          />
        </figure>
        <div class="page--title">
          <h1><strong>{entry.data.name}.</strong> {entry.data.tagline}</h1>
        </div>
        <div class="app__technicals">
          <small class="app__purchase-policy">{entry.data.purchasePolicy}</small
          >
        </div>
      </div>

      {
        entry.data.reviews && (
          <section class="center intrinsic">
            <header class="sr-only">
              <h2>Reviews</h2>
            </header>
            <div class="app-reviews | reel">
              {entry.data.reviews.map((review) => (
                <div class="app-review">
                  <blockquote>
                    <p class="review__text">{review.text}</p>
                  </blockquote>
                  <footer class="review__cite">
                    —{" "}
                    <a href={review.url}>
                      {review.reviewer}, <cite>{review.platform}</cite>
                    </a>
                  </footer>
                </div>
              ))}
            </div>
          </section>
        )
      }

      <div class="app-content | prose layout">
        <Content />
      </div>
    </div>
  </div>
</AppLayout>
