---
import SiteLayout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const name = "Roey Biran";
const apps = [...(await getCollection("apps"))]
  .sort((a, b) => a.id.localeCompare(b.id))
  .map((app) => ({
    id: `app-${app.id}`,
    type: "App",
    image: app.data.icon,
    name: app.data.name,
    tagline: app.data.tagline,
    links: [app.data.siteUrl],
  }));

const utilities = (await getCollection("utilities"))
  .map((utility) => ({
    id: `utility-${utility.id}`,
    type: "Utility",
    image: utility.data.icon,
    name: utility.data.name,
    tagline: utility.data.tagline,
    links: [`https://github.com/roeybiran/${utility.data.github}`],
    discontinued: utility.data.discontinued ?? false,
    releaseDate: utility.data.releaseDate,
  }))
  .sort((a, b) => b.releaseDate.getTime() - a.releaseDate.getTime());

const projects = await getCollection("projects");
const interactions = await getCollection("interactions");
const icons = await getCollection("icons");

const allProjects = [...projects]
  .map(({ id, data }) => {
    const links = [];

    if (data.url) {
      links.push(data.url);
    }
    if (data.github) {
      links.push(`https://github.com/${data.github}`);
    }

    return {
      id,
      title: data.title,
      subtitle: data.tagline,
      date: data.date,
      isoDate: data.date.toISOString(),
      dateString: data.date.toLocaleDateString("en-US", {
        month: "short",
        year: "numeric",
      }),
      links,
      responsibilities: data.responsibilities,
      stack: data.stack,
      press: data.press,
      type: data.type,
      video: {
        src: `/projects/${id}.mp4`,
        poster: `/projects/${id}-poster.jpg`,
      },
    };
  })
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const allInteractions = [...interactions]
  .map(({ id, data }) => ({
    id,
    title: data.title,
    date: data.date,
    isoDate: data.date.toISOString(),
    dateString: data.date.toLocaleDateString("en-US", {
      month: "short",
      year: "numeric",
    }),
    responsibilities: data.responsibilities,
    stack: data.stack,
    type: "Interaction",
    video: {
      src: `/interactions/${id}.mp4`,
      poster: `/interactions/${id}-poster.jpg`,
    },
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const allIcons = [...icons]
  .map(({ id, data }) => ({
    id,
    title: data.title,
    type: "Icon",
    date: data.date,
    isoDate: data.date.toISOString(),
    dateString: data.date.toLocaleDateString("en-US", {
      month: "short",
      year: "numeric",
    }),
    stack: data.stack,
    image: data.image,
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const content = [
  {
    title: "Apps",
    key: "apps",
    items: apps.map((app) => ({
      id: app.id,
      type: app.type,
      title: app.name,
      subtitle: app.tagline,
      links: app.links,
      image: app.image,
    })),
  },
  {
    title: "Utilities",
    key: "utilities",
    items: utilities.map((utility) => ({
      id: utility.id,
      type: utility.type,
      title: utility.name,
      subtitle: utility.tagline,
      links: utility.links,
      image: utility.image,
      badgeLabel: utility.discontinued ? "Discontinued" : undefined,
      badgeTone: "yellow" as const,
    })),
  },
  { title: "General", key: "general", items: allProjects },
  { title: "Interactions", key: "interactions", items: allInteractions },
  { title: "Icons", key: "icons", items: allIcons },
];
---

<SiteLayout
  pageTitle="Home"
  pageDescription={`${name}’s personal website`}
  ogImage="/og.jpg"
  currentURL={Astro.request.url}
>
  <h1 class="sr-only">{name}</h1>
  <div class="page-front__content">
    <div class="constrained padded">
      <div class="projects-grid | grid">
        {
          content.map(({ title, key, items }) => (
            <>
              <div class="projects-grid__section-header" data-section={key}>
                <h2 class="projects-grid__section-title | uppercased text-sm text-secondary">
                  {title}
                </h2>
              </div>
              {items.map((item) => (
                <ProjectCard {...item} sectionKey={key} />
              ))}
            </>
          ))
        }
      </div>
    </div>
  </div>
</SiteLayout>

<script src="../scripts/projects.ts"></script>
