---
import SiteLayout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import AppCard from "../components/AppCard.astro";
import ProjectCardPopup from "../components/ProjectCardPopup.astro";
import ProjectCard from "../components/ProjectCard.astro";
import IconCard from "../components/IconCard.astro";
import SectionAnimations from "../components/SectionAnimations.astro";
import UtilityCard from "../components/UtilityCard.astro";
import "../styles/pages/index.css";

const name = "Roey Biran";
const itemEntries = await getCollection("items");
const iconographyEntries = await getCollection("iconography");

const apps = itemEntries
  .filter(({ data }) => data.kind === "app")
  .sort((a, b) => b.data.title.localeCompare(a.data.title));

const utilities = itemEntries
  .filter(({ data }) => data.kind === "utility")
  .sort(
    (a, b) => (b.data.date?.getTime() ?? 0) - (a.data.date?.getTime() ?? 0),
  );

const allProjects = itemEntries
  .filter(({ data }) => data.kind === "project" && data.date)
  .sort(
    (a, b) => (b.data.date?.getTime() ?? 0) - (a.data.date?.getTime() ?? 0),
  );

const allInteractions = itemEntries
  .filter(({ data }) => data.kind === "interaction" && data.date)
  .sort(
    (a, b) => (b.data.date?.getTime() ?? 0) - (a.data.date?.getTime() ?? 0),
  );

const allIcons = iconographyEntries
  .sort(
    (a, b) => (b.data.date?.getTime() ?? 0) - (a.data.date?.getTime() ?? 0),
  );

const itemContent: {
  title: string;
  key: string;
  items: CollectionEntry<"items">[];
}[] = [
  {
    title: "Apps",
    key: "apps",
    items: [...apps, ...utilities],
  },
  { title: "Projects", key: "projects", items: allProjects },
  { title: "Interactions", key: "interactions", items: allInteractions },
];

const content: (
  | {
      title: string;
      key: string;
      items: CollectionEntry<"items">[];
      kind: "items";
    }
  | {
      title: string;
      key: string;
      items: CollectionEntry<"iconography">[];
      kind: "iconography";
    }
)[] = [
  ...itemContent.map((section) => ({
    ...section,
    kind: "items" as const,
  })),
  {
    title: "Icons",
    key: "icons",
    items: allIcons,
    kind: "iconography",
  },
];
---

<SiteLayout
  pageDescription={`${name}’s personal website`}
  currentURL={Astro.request.url}
>
  <h1 class="sr-only">{name}</h1>
  <div class="page-front__content">
    <div class="projects-sections | constrained padded">
      {
        content.map(({ title, key, items, kind }) => (
          <section
            class="projects-section"
            data-section={key}
            aria-labelledby={`${key}-title`}
          >
            <header class="projects-section__header">
              <h2
                id={`${key}-title`}
                class="projects-section__title | text-secondary"
              >
                {title}
              </h2>
            </header>
            {kind === "iconography" ? (
              <ul class="projects-grid | grid">
                {items.map((icon) => (
                  <li class="projects-grid__item">
                    <IconCard icon={icon} />
                  </li>
                ))}
              </ul>
            ) : key === "apps" ? (
              <ul class="apps-list">
                {items
                  .filter(({ data }) => data.kind === "app")
                  .map((item) => <AppCard item={item} />)}

                {items
                  .filter(({ data }) => data.kind === "utility")
                  .map((item) => <UtilityCard item={item} />)}
              </ul>
            ) : (
              <ul class="projects-grid | grid">
                {items.map((item) => (
                  <li class="projects-grid__item">
                    <ProjectCard item={item} sectionKey={key} />
                  </li>
                ))}
              </ul>
            )}
          </section>
        ))
      }
    </div>
  </div>
  <SectionAnimations />
  <ProjectCardPopup />
</SiteLayout>
