---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro";

const posts = await getCollection("projects");
---

<Page pageTitle="Projects">
  <div class="projects-root">
    <ul class="projects-list">
      {
        posts.map(({ data: { title, subtitle, image, type }, slug }) => (
          <li class="project-card">
            <div class="project-card__texts">
              <a class="project-card__title" href={`./projects/${slug}`}>
                {title}
              </a>
              <small class="project-card__small">{type}</small>
            </div>
            <Image src={image} alt={title} class="project-card__image" />
          </li>
        ))
      }
    </ul>
  </div>
</Page>
