---
import { Image } from "astro:assets";
import "@styles/components/_app-card.scss";

export interface Props {
  slug?: string;
  title: string;
  subtitle: string;
  icon: ImageMetadata;
  iconAlt: string;
  small?: boolean;
}

const { slug, title, subtitle, icon, iconAlt, small } = Astro.props;
---

<div class=`card card--styled card--app ${small ? "card--small" : ""}`>
  <div class="card__texts">
    {
      slug ? (
        <a class="card--app__title" href={slug}>
          {title}
        </a>
      ) : (
        <p class="card--app__title">{title}</p>
      )
    }
    <p class="card--app__subtitle">{subtitle}</p>
  </div>
  <Image class="card--app__thumb" src={icon} alt={iconAlt} />
</div>
