---
import { Image } from "astro:assets";
import "../styles/components/_app-card.scss";

interface Props {
  slug?: string;
  title: string;
  subtitle: string;
  icon: ImageMetadata;
  iconAlt: string;
}

const { slug, title, subtitle, icon, iconAlt } = Astro.props;
---

<div class="card card-ui card--app">
  {
    slug ? (
      <a class="card--app__title" href={slug}>
        {title}
      </a>
    ) : (
      <p class="card--app__title">{title}</p>
    )
  }
  <p class="card--app__subtitle">{subtitle}</p>
  <Image class="card--app__thumb" src={icon} alt={iconAlt} />
</div>
