---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import GitHubButton from "./GitHubButton.astro";

interface Props {
  slug: string;
  name: string;
  tagline: string;
  icon: ImageMetadata;
  isSmall?: boolean;
  discontinued?: boolean;
}

const { slug, name, tagline, icon, isSmall, discontinued } = Astro.props;
const isGitHub = slug.startsWith("https://");
---

<article class={`app-card ${isSmall ? "card--small" : ""}`}>
  <div class="app-card__texts">
    {discontinued && <p class="badge text-xs theme-yellow">Discontinued</p>}
    <header>
      <p class="app-card__title">{name}</p>
    </header>
    <p class="app-card__subtitle">{tagline}</p>

    {
      isGitHub ? (
        <GitHubButton url={slug} small />
      ) : (
        <a class="app-card__button | button" href={slug}>
          Learn More
        </a>
      )
    }
  </div>
  <Image src={icon} alt={name} class="app-card__thumb" />
</article>
