---
interface Props {
  appName: string;
  currentURL: string;
  gumroadID: string;
}

const { appName, currentURL, gumroadID } = Astro.props;

const base = `/apps/${appName.toLowerCase()}`;
const links = [
  { slug: base, label: "Overview" },
  { slug: `${base}/help`, label: "Help" },
  { slug: `${base}/release-notes`, label: "Release Notes" },
  { slug: `${base}/privacy`, label: "Privacy" },
];

const buyLink = `https://roeybiran.gumroad.com/l/${gumroadID}`;
const downloadLink = `${base}/download`;
---

<nav id="app-nav" class="app-nav">
  <div class="app-nav__inner | constrained">
    <div class="app-nav__section app-nav__section--help">
      <a class="app-nav-link app-nav-link--home" href={base}>
        {appName}
      </a>
      <div class="dialog-container" data-js-dialog-container>
        <div class="mobile-menu | padded flow">
          {
            links.map(({ slug, label }) => (
              <a
                class="app-nav-link"
                aria-current={currentURL.endsWith(slug) ? "page" : undefined}
                href={slug}
              >
                {label}
              </a>
            ))
          }
        </div>
        <button class="mobile-menu-button" data-js-app-nav-mobile-menu-button>
          menu
        </button>
      </div>
      <div class="desktop-menu">
        {
          links.map(({ slug, label }) => (
            <a
              class="app-nav-link"
              aria-current={currentURL.endsWith(slug) ? "page" : undefined}
              href={slug}
            >
              {label}
            </a>
          ))
        }
      </div>
    </div>
    <div class="app-nav__section app-nav__section--buy">
      <a class="buy-button" href={downloadLink}>Free Trial</a>
      <a class="buy-button" href={buyLink} data-js-buy="">Buy</a>
    </div>
  </div>
</nav>

<script>
  document
    .querySelectorAll("[data-js-dialog-container]")
    .forEach((container) => {
      container
        .querySelector("[data-js-menu-button]")
        ?.addEventListener("click", () => {
          // container.querySelector("dialog")?.showModal();
        });
    });
</script>
