---
import type { CollectionEntry } from "astro:content";
import "./ProjectCard.css";

export interface Props {
  icon: CollectionEntry<"iconography">;
}

const { icon } = Astro.props;
const { data, id } = icon;
const { title, type, variants } = data;
---

<article id={id} class="card card--icon" aria-label={title}>
  <div class="card__media">
    <div class="card__surface">
      <ul class="card__icon-variants" aria-label={`${title} variants`}>
        {variants.map((variant) => (
          <li class="card__icon-variant">
            <img
              class="card__image"
              src={variant.src}
              width={variant.width}
              height={variant.height}
              alt={title}
              loading="lazy"
              decoding="async"
            />
          </li>
        ))}
      </ul>
    </div>
  </div>
  <footer class="card__icon-footer">
    <p>{title}</p>
    <p>{type}</p>
  </footer>
</article>
