---
import { getImage, Image } from "astro:assets";
import ProjectPopup from "./ProjectPopup.astro";
import PlusIcon from "../assets/plus.svg";
import type { ProjectItem } from "../types/project-item";

export interface Props {
  item: ProjectItem;
  sectionKey?: string;
}

const { item, sectionKey } = Astro.props;
const { id, title, type, image, video } = item;

const popupId = `${id}-popup`;
const poster = video
  ? await getImage({
      src: video.poster,
      width: 960,
      format: "webp",
    })
  : undefined;
---

<article
  id={id}
  class={`card card--${type.toLowerCase()} | cardlike`}
  data-section={sectionKey}
>
  <div class="card__media" data-card-surface>
    {
      video && (
        <video
          class="card__video"
          src={video.src}
          poster={poster?.src}
          loop
          autoplay
          muted
          playsinline
        />
      )
    }

    {image && <Image class="card__image" src={image} alt={title} />}

    <button
      type="button"
      class="card__button | button button--image button--rounded"
      popovertarget={popupId}
      popovertargetaction="toggle"
    >
      <PlusIcon />
    </button>
  </div>

  <ProjectPopup item={item} />
</article>
