---
import type { CollectionEntry } from "astro:content";
import { getImage, Image } from "astro:assets";
import ProjectPopup from "./ProjectPopup.astro";
import PlusIcon from "../assets/plus.svg";

export interface Props {
  item: CollectionEntry<"items">;
  sectionKey?: string;
}

const { item, sectionKey } = Astro.props;
const { id, data } = item;
const { title, kind, media } = data;

const popupId = `${id}-popup`;
const buttonId = `${id}-popup-button`;
const poster = media.type === "video"
  ? await getImage({
      src: media.poster,
      width: 960,
      format: "webp",
    })
  : undefined;
---

<article
  id={id}
  class={`card card--${kind} | cardlike`}
  data-section={sectionKey}
>
  <div class="card__media">
    <div class="card__surface" data-card-surface>
      {
        media.type === "video" && (
          <video
            class="card__video"
            src={media.video}
            poster={poster?.src}
            loop
            autoplay
            muted
            playsinline
          />
        )
      }

      {media.type === "image" && (
        <Image class="card__image" src={media.image} alt={title} />
      )}
    </div>

    <button
      id={buttonId}
      type="button"
      class="card__button | button button--image button--rounded"
      data-js-dialog={popupId}
      aria-controls={popupId}
      aria-haspopup="dialog"
    >
      <PlusIcon />
    </button>
  </div>

  <ProjectPopup item={item} buttonId={buttonId} />
</article>
