---
import avatar from "../assets/memoji.png";

interface Props {
  pageDescription: string;
  ogImage?: string;
  currentURL: string;
}

const { pageDescription, ogImage = "/og.jpg", currentURL }: Props = Astro.props;
const name = "Roey Biran";
const tagline = "Design Engineer";
const siteTitle = `${name} — ${tagline}`;

const { protocol, hostname, port } = new URL(currentURL);
const ogImageUrl = `${protocol}//${hostname}${port ? `:${port}` : ""}${ogImage}`;
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/png" href={avatar.src} />

  <title>{siteTitle}</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={pageDescription} />

  <meta property="og:title" content={siteTitle} />
  <meta property="og:type" content="website" />
  <meta property="og:image" content={ogImageUrl} />
  <meta property="og:image:alt" content={pageDescription} />
  <meta property="og:description" content={pageDescription} />
  <meta property="og:url" content={currentURL} />

  <meta name="twitter:card" content="summary_large_image" />

  <meta name="generator" content={Astro.generator} />
</head>
