---
import AppMenuButton from "../assets/app-menu-button.svg";

interface Props {
  appName: string;
  currentURL: string;
  gumroadID: string;
}

const { appName, currentURL, gumroadID } = Astro.props;

const base = `/apps/${appName.toLowerCase()}`;
const links = [
  { slug: base, label: "Overview" },
  { slug: `${base}/help`, label: "Help" },
  { slug: `${base}/release-notes`, label: "Release Notes" },
  { slug: `${base}/privacy`, label: "Privacy" },
];

const buyLink = `https://roeybiran.gumroad.com/l/${gumroadID}`;
const downloadLink = `${base}/download`;
---

<nav id="app-nav" class="app-nav">
  <div class="app-nav__inner | constrained">
    <div class="app-nav__section app-nav__section--leading">
      <a class="app-nav-link app-nav-link--home" href={base}>
        {appName}
      </a>
    </div>
    <div class="app-nav__section app-nav__section--trailing">
      <div class="mobile-menu">
        <div class="mobile-menu__menu | padded stack" data-js-mobile-menu>
          {
            links.map(({ slug, label }) => (
              <a
                class="app-nav-link"
                aria-current={currentURL.endsWith(slug) ? "page" : undefined}
                href={slug}
                data-js-mobile-menu-link
              >
                {label}
              </a>
            ))
          }
        </div>
        <button class="mobile-menu__button" data-js-app-nav-mobile-menu-button>
          <AppMenuButton />
        </button>
      </div>
      <div class="desktop-menu">
        {
          links.map(({ slug, label }) => (
            <a
              class="app-nav-link"
              aria-current={currentURL.endsWith(slug) ? "page" : undefined}
              href={slug}
            >
              {label}
            </a>
          ))
        }
      </div>
      <div class="app-nav__action-buttons">
        <a class="buy-button" href={downloadLink}>Free Trial</a>
        <a class="buy-button" href={buyLink} data-js-buy="">Buy</a>
      </div>
    </div>
  </div>
</nav>
