---
import type { CollectionEntry } from "astro:content";
import Root, { type Props as RootProps } from "./Root.astro";

interface Props extends Omit<RootProps, "pageTitle"> {
  appEntry: CollectionEntry<"apps">;
  appSlug: string;
  pageTitleSuffix?: string;
}

const {
  appSlug,
  appEntry: {
    data: { title, help, releaseNotesURL },
  },
} = Astro.props;

const pathnames = [
  { href: `/apps/${appSlug}`, title },
  help ? { href: `/apps/${appSlug}/help`, title: "Help" } : {},
  releaseNotesURL
    ? {
        href: `/apps/${appSlug}/release-notes`,
        title: "Release Notes",
      }
    : {},
];

const pageTitle = [title, Astro.props.pageTitleSuffix ?? ""]
  .filter((x) => x)
  .join(": ");
---

<Root {...Astro.props} pageTitle={pageTitle}>
  <nav class="app-nav">
    {
      pathnames.map(({ title, href }) => (
        <a class="app-nav-link" href={href}>
          {title}
        </a>
      ))
    }
  </nav>
  <slot />
</Root>
