---
import Root, { type Props as RootProps } from "./Root.astro";
import "../styles/layouts/_app-page.scss";

interface Props extends RootProps {
  appName: string;
  slug: string;
}

const { slug, title, appName } = Astro.props;

const links = [
  { href: `/apps/${slug}`, label: appName },
  { href: `/apps/${slug}/help`, label: "Help" },
  { href: `/apps/${slug}/release-notes`, label: "Release Notes" },
];

---

<Root {...Astro.props} title={title}>
  <nav class="app-nav">
    {
      links.map(({ label, href }) => (
        <a class="app-nav-link" href={href}>
          {label}
        </a>
      ))
    }
  </nav>
  <div class="app-page__root">
    <slot />
  </div>
</Root>
