---
import "@fontsource-variable/inter";
import "sanitize.css";
import "sanitize.css/forms.css";
import "sanitize.css/typography.css";

import "../styles/reset.scss";
import "../styles/theme.scss";

import "../styles/layout/_center.scss";
import "../styles/layout/_cluster.scss";
import "../styles/layout/_grid.scss";
import "../styles/layout/_stack.scss";

import "../styles/components/_card.scss";
import "../styles/components/_footer.scss";
import "../styles/components/_header.scss";
import "../styles/components/_prose.scss";
import "../styles/components/_sr-only.scss";

import "../styles/pages/app.scss";
import "../styles/pages/help.scss";
import "../styles/pages/project.scss";
import "../styles/pages/projects.scss";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  pageTitle?: string;
  openGraphImage?: string;
  description?: string;
}

const {
  pageTitle,
  description = "Roey Biran’s Personal Home Page",
  openGraphImage = "og.jpg",
} = Astro.props;
const name = "Roey Biran";
const suffixedTitle = `${pageTitle} — ${name}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={`${Astro.url.origin}/${openGraphImage}`}
    />
    <meta property="og:url" content={Astro.url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content={pageTitle} />

    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={name} />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{suffixedTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
